---
- name: Fetch k3s kubeconfig
  ansible.builtin.slurp:
    src: /etc/rancher/k3s/k3s.yaml
  register: k3s_kubeconfig_slurp

- name: Create .kube directory on runner
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.kube"
    state: directory
    mode: '0700'
  delegate_to: localhost
  become: false

- name: Write sanitized kubeconfig to runner
  ansible.builtin.copy:
    content: "{{ k3s_kubeconfig_slurp['content'] | b64decode | replace('127.0.0.1', vip_address) }}"
    dest: "{{ lookup('env', 'HOME') }}/.kube/config"
    mode: '0600'
  delegate_to: localhost
  become: false
