---
name: Check Ansible Playbooks and Roles syntax
on:
  pull_request:
    branches:
      - main

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.9.2
