---
name: Validate Ansible playbook
on:
  workflow_dispatch: # TEMP

  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'renovate.json'

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.9.2

  syntax-check:
    name: Ansible Syntax Check
    runs-on: self-hosted
    needs: lint
    steps:
      - uses: actions/checkout@v5

      # Apparently the setup-python action is not compatible with Debian
      # so I installed pipx manually
      - name: Install Ansible
        run: |
          pipx install --include-deps ansible
          pipx inject ansible requests
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/private_key.pem
          chmod 400 ~/.ssh/private_key.pem

      - name: Run Ansible Syntax Check
        env:
          PROXMOX_URL: ${{ secrets.PROXMOX_URL }}
          PROXMOX_USER: ${{ secrets.PROXMOX_USER }}
          PROXMOX_TOKEN_ID: ${{ secrets.PROXMOX_TOKEN_ID }}
          PROXMOX_TOKEN_SECRET: ${{ secrets.PROXMOX_TOKEN_SECRET }}
        run: |
          ansible-playbook -i inventory/proxmox.yml \
            --private-key ~/.ssh/private_key.pem --syntax-check \
            k3s.yml
