---
name: Check Ansible syntax and dry run
on:
  workflow_dispatch:

  pull_request:
    branches:
      - main

jobs:
  validate:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.9.2

  dry-run:
    name: Ansible Dry Run
    runs-on: self-hosted
    needs: validate
    steps:
      - uses: actions/checkout@v5

      # Apparently the setup-python action is not compatible with Debian self-hosted runners
      # so I installed pipx manually
      - name: Install Ansible
        run: |
          pipx install --include-deps ansible
          pipx inject ansible requests
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Run Ansible Playbook in check mode
        env:
          PROXMOX_URL: ${{ secrets.PROXMOX_URL }}
          PROXMOX_USER: ${{ secrets.PROXMOX_USER }}
          PROXMOX_TOKEN_ID: ${{ secrets.PROXMOX_TOKEN_ID }}
          PROXMOX_TOKEN_SECRET: ${{ secrets.PROXMOX_TOKEN_SECRET }}
          ANSIBLE_SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          ansible-playbook -i inventory/proxmox.yml k3s.yml --check
