---
name: Validate Ansible playbook
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'renovate.json'

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.9.2

  syntax-check:
    name: Ansible Syntax Check
    runs-on: self-hosted
    needs: lint
    steps:
      - uses: actions/checkout@v5

      - name: Install Ansible
        run: |
          pipx install --include-deps ansible
          pipx inject ansible requests
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Run Ansible Syntax Check
        run: |
          ansible-playbook -i "localhost," --syntax-check k3s.yml
